<div class="footer-container">
  <div class="footer-wrapper">
    <div class="upper-footer">
      <div class="logo">
        <img src="assets/images/Logo.png" alt="logo" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="contact-us">
        <p>For further inqueries please contact us at the following email:</p>
        <p><a href="#">damiangreen2020@gmail.com</a></p>
      </div>
    </div>
    <!-- Copyright Notice -->
    <hr />
    <div class="copywright">
      <p>Copyright © 2022 Dawnz Apps and Services</p>
    </div>
    <!-- Privacy Policy Link -->
    <!-- Sitemap -->
    <!-- Logo -->
    <!-- Contact Information -->
    <!-- Social Media Icons -->

    <!-- Email Sign-up Form -->
  </div>
</div>
