<app-header [currentScreenSize]="currentScreenSize"></app-header>
<app-searchbar [currentScreenSize]="currentScreenSize"></app-searchbar>
<app-features [currentScreenSize]="currentScreenSize"></app-features>
<app-hot-deals [currentScreenSize]="currentScreenSize"></app-hot-deals>
<app-pop-deals [currentScreenSize]="currentScreenSize"></app-pop-deals>
<app-amz-ads [currentScreenSize]="currentScreenSize"></app-amz-ads>
<app-blog [currentScreenSize]="currentScreenSize"></app-blog>
<app-footer [currentScreenSize]="currentScreenSize"></app-footer>
<app-copyright [currentScreenSize]="currentScreenSize"></app-copyright>
<!-- {{ currentScreenSize }} -->
