<div class="portfolio-container">
  <div class="portfolio-wrapper">
    <div class="top-half">
      <div class="react-img">
        <div class="img">
          <img src="assets/images/portfolio/React1.png" alt="react" />
        </div>
      </div>
      <div class="angular-img">
        <div class="img">
          <img src="assets/images/portfolio/Angular1.png" alt="Angular" />
        </div>
        <div class="img">
          <img src="assets/images/portfolio/Angular2.png" alt="Angular" />
        </div>
      </div>
    </div>
    <div class="bot-half">
      <div class="angularjs-img">
        <div class="img">
          <img src="assets/images/portfolio/AngularJS2.png" alt="AngularJS" />
        </div>
        <div class="img">
          <img src="assets/images/portfolio/AngularJS1.png" alt="AngularJS" />
        </div>
      </div>
      <div class="html-js">
        <div class="img">
          <img src="assets/images/portfolio/html.png" alt="html" />
        </div>
      </div>
    </div>
  </div>
</div>
