<div class="ads-wrapper">
  <h3>Welcome to <span class="green">Amzdealz.Net</span></h3>
  <p class="par-content">
    a free Amazon price tracker and Amazon product availability tracker! Do you
    shop online and want to track product prices or product availability of
    Amazon products? Well, amzdealz.net is here to help you! We provide a
    reliable product price tracker for Amazon products.
    <a href="#" class="green link">Read More</a>
  </p>

  <div class="gPlay">
    <img src="assets/images/google_play.png" alt="" />
  </div>
  <p>Read more about our features <a href="#" class="green link">here</a></p>
  <div
    class="ads-img"
    *ngIf="currentScreenSize != 'XSmall' && currentScreenSize != 'Small'"
  >
    <img src="assets/images/image 3.png" alt="ad image" />
  </div>
</div>
