<div class="about-intro-container">
  <div class="about-intro-wrapper">
    <div class="content img">
      <img src="assets/images/team-pic.jpeg" alt="team pic" />
    </div>
    <div class="content par1">
      <h1 class="sub-title">Designing With Passion</h1>
      <div class="small-divider"></div>
      <p>
        I create products with great attention to detail. I feel satisfied when
        customers are happy and often times go above and beyond to surpass
        client expectations.
      </p>
      <p>Lets Talk!</p>

      <div class="email-tag">
        <button mat-button>
          <mat-icon>email</mat-icon>
          <a href="mailto:damiangreen2020@outlook.com" target="_self">
            damiangreen@outlook.com</a
          >
        </button>
      </div>
    </div>
    <div class="content par2">
      <h1 class="sub-title">I Create Solutions not just Products</h1>
      <div class="small-divider"></div>
      <p>
        <i>“Java is to JavaScript what car is to Carpet.”</i> - Chris Heilmann
      </p>
      <p>
        Consultation is offered so that customers feel comfortable in our
        development process. We ensure that the right tool is used for the task.
      </p>
      <p>
        It is our responsibility to ensure that agreements made in consolidated
        user requirements and specifications are followed across the entire
        application and overall the website service.
      </p>
    </div>
  </div>
</div>
