<div class="intro-container">
  <div class="about-me">
    <h1>Software Developer</h1>
    <h1>Damian Green</h1>
    <p>
      Hi, I am a Software Developer and I currently build Front-End
      Applications. I use Html CSS and Javascript to build websites. Though
      constantly changing, my focus right now is Angular.
    </p>
    <button class="btn">Learn More</button>
  </div>
  <div class="img">
    <img src="assets/images/profile-final.png" alt="my Pic" />
  </div>
</div>
<!-- <hr /> -->
