<div class="about-skills-container">
  <div class="about-skills-wrapper">
    <div class="skills">
      <h2 class="subtitle">Frontend and Backend Developer</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, incidunt!
        Sed cupiditate et, quos culpa vel esse sequi fugit molestiae placeat
        dolore ratione, praesentium nesciunt maiores sint a velit laudantium.
      </p>
      <button class="btn">
        <a [download]="myFileName" [href]="fileUrl">Download CV</a>
      </button>
    </div>
    <div id="myBar" class="pbar">
      <div name="myBar" class="progress-bar">HTML</div>
      <div name="myBar" class="progress-bar">CSS</div>
      <div name="myBar" class="progress-bar">JavaScript</div>
      <div name="myBar" class="progress-bar">React</div>
      <div name="myBar" class="progress-bar">Angular</div>
    </div>
  </div>
</div>
